/* Modales Responsivos */
@media screen and (max-width: 768px) {
    .w3-modal-content {
        width: 90%;  /* Ajusta el ancho del modal */
        max-width: 500px;  /* Limita el tamaño máximo del modal */
    }

    .w3-modal {
        padding: 0 !important;  /* Elimina el padding en móviles */
    }

    .w3-modal-content h2 {
        font-size: 18px;  /* Tamaño de fuente para el título en pantallas pequeñas */
    }

    .w3-container p {
        font-size: 14px;  /* Ajuste del tamaño de la fuente del texto */
    }

    /* Botones dentro del modal en dispositivos pequeños */
    .w3-button {
        width: 100%;  /* Los botones ocupan todo el ancho disponible */
        margin-top: 10px;
    }

    .footer-container {
        display: block;
    }

    .button-container {
        display: flex;
        flex-direction: column;
    }

    .footer-container .w3-button {
        width: 100%; /* Asegura que los botones se ajusten al ancho de la pantalla */
    }
}

@media screen and (max-width: 480px) {
    .w3-modal-content {
        width: 95%;
    }

    .w3-modal-content h2 {
        font-size: 16px;
    }

    .w3-container p {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%; /* Ancho más pequeño en pantallas pequeñas */
    }
}

