header{
    height: calc(100vh-140px);
}

.w3-container w3-teal{
    background-color: #365a98;
}

.w3-display-container{
   margin: 0 0 2.65em 0;
}


.boton{
    margin: 0;
}

.botonmargen{
    margin-top: 3em;
}

.divprincipal{
    margin: 0;
}

.botonConfirmar{
    margin-left: 10em;
}